@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Ephesis&family=Finlandica:ital,wght@0,400..700;1,400..700&family=Indie+Flower&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #863a0d;
}